td {
	text-align: center;
}

#Neptune{
	width: 200px;
	height: auto;
}

#Venus{
	width: 200px;
	height: auto;
}

#Mars{
	width: 200px;
	height: auto;
}

#Saturn{
	width: 200px;
	height: auto;
}

table{
	width: 100%;
}

th, td {
	border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
	background-color: #35dccc;
	color: white;
}

th, td {
	padding: 15px;
}

h2 {
	top: 50%;
	left: 50%;
	color: #3599dc
}

h1 {
	top: 50%;
	left: 50%;
	color: #7835dc
}