td {
	text-align: center;
}

#Neptune{
	width: 400px;
	height: auto;
}

#Venus{
	width: 400px;
	height: auto;
}

#Mars{
	width: 400px;
	height: auto;
}

#Saturn{
	width: 400px;
	height: auto;
}

table{
	width: 100%;
}